<footer>
    <img src="./../../../assets/images/Memory Game - Logo footer.png" alt="Logo du site web memory game">
    <p>&copy; 2024 Memory Game. All rights reserved.</p>
    <section class="social-media">
        <a routerLink="https://github.com/CRODRGUE" target="_blank"><img src="./../../../assets/icons/icon-github.svg"
                alt="lien vers le compte Github du créateur @CRODRGUE"></a>
        <a routerLink="https://www.linkedin.com/in/rodriguescyril/" target="_blank"><img
                src="./../../../assets/icons/icon-linkedin.svg"
                alt="lien vers le compte linkedin du créateur Cyril Rodrigues"></a>
    </section>
</footer>