<footer>
    <img src="./../../../assets/images/Memory Game - Logo footer.png" alt="Logo du site web memory game">
    <p>&copy; 2024 Memory Game. All rights reserved.</p>
    <section class="social-media">
        <a routerLink="/"><img src="./../../../assets/icons/icon-github.svg"
                alt="lien vers le compte Github du créateur @...."></a>
        <a routerLink="/"><img src="./../../../assets/icons/icon-linkedin.svg"
                alt="lien vers le compte linkedin du créateur @...."></a>
    </section>
</footer>