* {
    font-family: 'prompt', Arial;
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: 75px;
    background-color: aqua;
}

.content-page {
    background: url("../../../assets/images/background-home.jpg");
}

.game-block {
    margin: 5%;
}

.info-block {
    color: var(--white);
}

.info-block>h3 {
    font-weight: bold;
    font-size: 64px;
}

.info-block>.info-block-sub {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.info-block>.info-block-sub>P {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}

.card-block,
.end-block {
    margin: 5%;
    padding: 25px;
    min-height: 25vh;
    border-radius: 20px;
    background-color: var(--background-color);
    color: var(--black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.card-block span {
    font-weight: bold;
}

.card-body {
    align-self: center;
}

.card-question {
    margin: 10px 0;
}

.card-question p {
    font-size: 1.5rem;
}

.card-question>img {
    max-width: 100%;
    max-height: 100%;
}

.card-response {
    margin: 10px;
}

#btn-response,
.end-block>a {
    padding: 5px 25px;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: var(--black);
    color: var(--white);
    transition: all .5s ease;
}

#btn-response:hover,
.end-block>a:hover {
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    transition: all .5s ease;
}

.response {
    visibility: hidden;
    margin: 10px 0;
}

.response-active {
    visibility: visible;
}

.card-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card-footer>button {
    border: 1px solid var(--black);
    padding: 5px 40px;
    border-radius: 50px;
    transition: all .5 ease;
}

.card-footer>button>img {
    height: 25px;
    width: 25px;
}

.btn-valide:hover {
    background-color: #4CAF50;
    transition: all .5 ease;
}

.btn-invalide:hover {
    background-color: #F44336;
    transition: all .5 ease;
}


.end-block>a {
    width: min-content;
}