<div class="full-page">
    <app-header class="header-block"></app-header>
    <main class="content-page ">
        <section class="cta-block">
            <div class="cta">
                <h1>Bienvenue au Memory Game Éducatif en Ligne</h1>
                <p>Améliorez votre mémoire avec des jeux amusants et stimulants !</p>
                <a routerLink="/">Jouer maintenant</a>
            </div>
        </section>

        <section class="advantages">
            <h2>Les avantages de la révision espacée ?</h2>
            <div class="advantages-list">
                <div class="advantage">
                    <img src="" alt="">
                    <h3>Efficacité</h3>
                    <p>Elle permet d'apprendre une grande quantité d'informations de manière durable en
                        optimisant les temps de révision.</p>
                </div>
                <div class="advantage">
                    <img src="" alt="">
                    <h3>Flexibilité</h3>
                    <p>Vous pouvez adapter le système à vos besoins spécifiques, que ce soit pour l'apprentissage de
                        vocabulaire, de faits scientifiques, ou de concepts complexes.</p>
                </div>
                <div class="advantage">
                    <img src="" alt="">
                    <h3>Accessibilité</h3>
                    <p>Des applications comme Anki et Tinycards automatisent le processus, rendant la méthode facile à
                        suivre.</p>
                </div>
            </div>
        </section>
    </main>
    <app-footer class="footer-block"></app-footer>
</div>
































<!-- <p>home works!</p>

<button (click)="tagGetAll()">Tag get</button>
<button (click)="tagGetById(2)">Tag by id</button>
<button (click)="tagDeleteById(6)">Tag delete by id</button>
<button (click)="cardGetAll()">Card get all</button>
<button (click)="cardGetById(3)">Card get by id</button>
<button (click)="cardGetByTag(3)">Card get by tag</button>
<button (click)="cardGetByTagAndLevel(6, 2)">Card get by tag & lvl</button>
<button (click)="cardAdd()">Card add</button>
<button (click)="cardUpdateLevelCard()">Card update level</button>
<button (click)="cardDeleteById(1)">Card delete by id</button> -->