/* === section cta block */
.cta-block {
    width: 100%;
    height: auto;
    min-height: 35vh;
    box-sizing: border-box;
    padding: 25px 10px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cta-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../../../assets/images/background-home.jpg');
    filter: blur(.15rem);
    z-index: 1;
}

.cta {
    position: relative;
    z-index: 2;
    color: var(--white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cta>a {
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    transition: all .5s ease;
}

.cta>a:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: all .5s ease;
}

/* === section adavantages === */

.advantages {
    text-align: center;
    color: var(--black);
    margin: 15px 25px;
}

.advantages>h2 {
    margin-bottom: 25px;
}

.advantages-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.advantage {
    width: 20%;
    padding: 15px 25px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 1px 1.25px 5px 1.25px #1b1b1b75;
    border-radius: 1rem;
}

.advantage>p {
    text-align: justify;
}