<div class="full-page">
    <app-header class="header-block"></app-header>
    <main class="content-page ">
        <section class="cta-block">
            <div class="cta">
                <h1>Bienvenue au Memory Game Éducatif en Ligne</h1>
                <p>Améliorez votre mémoire avec la répétition espacée !</p>
                <a routerLink="/tag/list">Jouer maintenant</a>
            </div>
        </section>

        <section class="advantages">
            <h2>Les avantages de la révision espacée ?</h2>
            <div class="advantages-list">
                <article class="advantage">
                    <img src="" alt="">
                    <h3>Efficacité</h3>
                    <p>Elle permet d'apprendre une grande quantité d'informations de manière durable en
                        optimisant les temps de révision.</p>
                </article>
                <article class="advantage">
                    <img src="" alt="">
                    <h3>Flexibilité</h3>
                    <p>Vous pouvez adapter le système à vos besoins spécifiques, que ce soit pour l'apprentissage de
                        vocabulaire, de faits scientifiques, ou de concepts complexes.</p>
                </article>
                <article class="advantage">
                    <img src="" alt="">
                    <h3>Accessibilité</h3>
                    <p>Des applications comme Anki et Tinycards automatisent le processus, rendant la méthode facile à
                        suivre.</p>
                </article>
            </div>
        </section>
        <section class="work">
            <h2>Comment utiliser "Memory Game" ?</h2>
            <div>
                <p>Pour commencer à utiliser "Memory Game" rien de trés compliqué, il suffit de suivre les étapes
                    ci-dessous
                    :</p>
                <ul>
                    <li>Créer une catégorie de révision</li>
                    <li>Ajouter des cartes pour réviser des notions en lien avec la catégorie. Il est possible
                        d'utiliser du
                        texte et des contenus multimédias.</li>
                    <li>Réviser vos notions !</li>
                </ul>
            </div>
        </section>
        <section class="test">
            <h2>Comment tester les fonctionnalitées ?</h2>
            <div>
                <p>Vous pouvez tester les diffrentes fonctionnalité implementer en suivant les instruction ci-dessous
                    :</p>
                <ul>
                    <li>Ajouter des données factises : <button (click)="insertFakeData()">Ajouter des données</button>
                    </li>
                    <li>Planning de révision : ajouter des catégorie puis consulter la page planning</li>
                    <li>Révision : creer des categories puis associer des cartes à celles-ci puis réviser</li>
                    <li>Notification : demarrer le serveur de notification push puis lanceer des notifications</li>
                </ul>
            </div>
        </section>
    </main>
    <app-footer class="footer-block"></app-footer>
</div>
































<!-- <p>home works!</p>

<button (click)="tagGetAll()">Tag get</button>
<button (click)="tagGetById(2)">Tag by id</button>
<button (click)="tagDeleteById(6)">Tag delete by id</button>
<button (click)="cardGetAll()">Card get all</button>
<button (click)="cardGetById(3)">Card get by id</button>
<button (click)="cardGetByTag(3)">Card get by tag</button>
<button (click)="cardGetByTagAndLevel(6, 2)">Card get by tag & lvl</button>
<button (click)="cardAdd()">Card add</button>
<button (click)="cardUpdateLevelCard()">Card update level</button>
<button (click)="cardDeleteById(1)">Card delete by id</button> -->