/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/prompt-font/Prompt-Regular.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/prompt-font/Prompt-Italic.woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/prompt-font/Prompt-ExtraLight.woff');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/prompt-font/Prompt-ExtraLightItalic.woff');
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/prompt-font/Prompt-SemiBold.woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'prompt';
    src: url('./assets/fonts/prompt-font/Prompt-SemiBoldItalic.woff');
    font-style: italic;
    font-weight: bold;
}


:root {
    --white: #E4E4E4;
    --black: #1b1b1b;
    --bleu: #2d7dd2;

    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f5f5f5;
    --header-height: 60px;
    --footer-height: 80px;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: var(--background-color);
}

.full-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-page {
    flex: 1;
}



h1 {
    font-family: 'prompt', Arial;
    font-size: 3rem;
}

h2 {
    font-family: 'prompt', Arial;
    font-size: 2.5rem;
}

h3,
label {
    font-family: 'prompt', Arial;
    font-size: 1.5rem;
}

h4 {
    font-family: 'prompt', Arial;
    font-size: 1.25rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}




#page-block {
    /*background: linear-gradient(0deg, rgba(27, 27, 27, 0.80) 0%, rgba(27, 27, 27, 0.80) 100%), url('./assets//images/backgound_pixels.png') lightgray 0% 0% / 50px 50px repeat;
*/
}